.card{
    font-size: 1.1rem;
}
.c1{
    border-left: 5px solid #3490dc;
}
.c2{
    border-left: 5px solid #38c172;
}
.c3{
    border-left: 5px solid #ffed4a;
}
.h5{
    color: rgb(90, 86, 86);
}
.col-auto{
    color: #d8d8d8;
}
.text-xs{
    font-size: 0.8rem;
}
.p1{
    height: 500px;
}