.main{
    display: flex;
    justify-content: center;
}
.Logosmk{
    max-width: 250px;
    max-height: 300px;
}
.instansi{
    font-weight: bolder;
    font-size: 45px;
    font-family: Roboto;
}   
.content{
    background-color: #eef0fc;
    margin-top:200px;
}
.pp{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.eskul-link:hover{
    border: 1px solid #0d6efd;
    color: #0d6efd;
}
.img-svg{
    max-width: 500px;
}
.text{
    color: #4b4444;
}
.footer{
    background: #6cb2eb;
    color: white;
}
.footer-link{
    border:1px solid white;
    border-radius: 50%;
    padding: 3px 8px;
    margin-left: 5px;
}

@media (max-width:1200px){
    .logo{
        text-align: center;
        margin-bottom: 50px;
    }
    .img-svg{
        display: none;
    }
    .text{
        text-align: center;
    }
    .txt{
        text-align: center;
    }
}
@media (max-width:500px){
    .logo{
        display: none;
    }
    .ab{
        margin-top: 100px;
    }
}