.all{
    display: flex;
    height: 100%;
    min-height: 100vh;
}
.sidebar{   
    background: #EEF0FC;
    width: 200px;
}
.sidebar-brand h1{
    color:#3f8fdd;
    text-align: center;
    line-height: 100px;
    letter-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: default;
}
.sidebar-brand p{
    position: absolute;
    color:red;
    letter-spacing: 10px;
    margin-top: -40px;
    margin-left: 40px;
}

.sidenav-link{
    line-height: 60px;
    padding-left:20px;
    color: #c4c4c4;
}
.sidenav-link:hover{
    background: #ffffff ;
    text-decoration: none;
    color: #3f8fdd;
}
.botnav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EEF0FC;
    padding: 20px;
}
.botnav-link:hover{
    color:#ffffff;
    text-decoration: none;
}
.botnav-link span{
    font-size: 0.6rem;
    margin-top: 5px;
}
.div{
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    background-color: #f8f8f8;
    width: 100% ;
}
.badge-notif{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: x-small;
    width: 20px;
    margin-top: -40px;
    margin-left: 15px;
    text-align: center;
}
.dropdown-menu{
    border: none;
}
.notifications{
    width:20vw;
    height: 250px;
}
.header-notif{
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: -1px;
}
.name{
    font-size: large;
    font-weight: 450;
    margin-bottom:-1px;
    cursor: default;
}
.email{
    font-size: smaller;
    font-weight: 50;
    margin-bottom: -1px;
    cursor: default;
}
.user:hover{
    background:none;
}


@media (max-width:700px){
    .sidebar{
        display: none !important;
    }
    .bar-responsive{
        display: flex !important;
        align-items: center;
        justify-content: space-around;
    }
    .div{
        margin:0 !important;
    }
}
